








/* own style */

.Hf3{
    font-weight: 800;
}


/* .Deupload-items>div>div>div{
    background-image: url(File-img/items-Frame.png);
    background-repeat: no-repeat;
    /* background-color: aqua; */
    height: 500PX;
} */

/* .Deupload-items-A{
    position: absolute;
     
}

.Deupload-items-A>h3{
    position: relative;
    top: 0;
    right: 0;
} */